*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
main{
    background-image: url(img/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
   
    
}
ul {
    display: inline-flex;
    float: right;
    margin:50px 250px 10px 0 ;

}
ul li {
        
    list-style: none;
    align-items: center;
    margin: 10px 20px;
    border: 0.5px solid black;
    border-radius: 11px;
    padding: 5px 10px;
}
ul li a{
    text-decoration: none;
    padding: 10px 10px;
    text-transform: uppercase;
    font-family: roboto;
    font-weight: bold;
    color:white;
    font-size: 1.5rem;

}
ul li:hover{
    background-color: gray;
       
}
.coach-team{
    background-color: gray;
    height: 200vh;
}
.team{
    
    display: inline-flex;
    flex-wrap:wrap;
     align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap:30px 110px;
    font-family: roboto, sans-serif;
}
.coach{
    width: 250px;
    height: 250px;
    color:white;
    border:2px solid white;
    border-radius: 10px;
    
}
.coach .avatar{
    display: block;
    margin: auto;
    width: 140px;
    height: 140px;
   
}
.coach .position{
    text-align: center;
    font-size:1.5rem;
}

.coach .job-details{
    text-align: center;
    font-size:1.2rem;
}