*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
ul {
    display: inline-flex;
    float: right;
    margin:50px 250px 10px 0 ;

}
ul li {
        
    list-style: none;
    align-items: center;
    margin: 10px 20px;
}
ul li a{
    text-decoration: none;
    padding: 10px 10px;
    text-transform: uppercase;
    font-family: roboto;
    font-weight: bold;
    color:black;

}